body {
    margin: 0
}

main {
    display: block;
    
}

#img-div  {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
    
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}
